<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);">
  <div class="container">
    <h1>All your movie lists in <strong>one place.</strong></h1>
    <p>Browse through all your lists here</p>
    <a class="btn btn-flat" href="#">Add a new list</a>
  </div>
</div>


<p>Pick a list for further information</p>

<%# <ul> %>

 <div class="flex-container">
  <% @lists.each do |list| %>

    <div class="list-card"> <%= link_to list.name, list_path(list) %> </div> <br>

  <% end %>
   </div>

<%# </ul> %>

<%= link_to "Create a new list", new_list_path, class: 'btn btn-primary' %>
