.card-movie {
  overflow: hidden;
  height: 200px;
  width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;

}

.card-movie img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-movie h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-movie p {
  font-size: 12px;
  font-weight: thin;
  line-height: 1.2;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-movie .card-movie-text {
  padding: 20px;
  align-content: space-evenly;
}


.card-movie .card-movie-title {
  width: 180px;
  height: 30px;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.card-movie .card-movie-overview {
  width: 180px;
  height: 60px;
  text-overflow: ellipsis;
}

.card-movie .card-movie-rating {
  width: 180px;
  height: 30px;
  text-overflow: ellipsis;
}

.card-movie .card-movie-comment {
  width: 180px;
  height: 30px;
  text-overflow: ellipsis;
}

.card-movie .card-movie-delete {
  width: 180px;
  height: 30px;
  text-align: right;
}
