// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



.banner {
  background-size: cover;
  background-position: center;
  height: 300px;
  padding: 100px 0;
  margin-bottom: 50px;
  text-align: center;
}


.banner h1 {
  margin: 10;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: thin;
  text-align: center;
  font-family: "Nunito", "Helvetica", "sans-serif";;
}

.banner p {
  font-size: 18px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15px;
}
